@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ --bg: #071013; }
html,body,#root{ height:100%; }
body{ font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', monospace; background:var(--bg); }
